@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./assets/img/background-principal.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1024px;
  margin: 0 auto;
  font-family: 'Poor Story', cursive;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

/* -------------------------------------- NAVBAR ---------------------------------- */

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 16px;
  color: #fff;
  fongt-weight: bold;
  font-family: 'Poor Story', cursive;
}

nav ul li a:hover {
  color: #00cdcd;
}

/* -------------------------------------- MAIN ---------------------------------- */

.principal {
  display: flex;
  justify-content: space-between;
  margin-top: 128px;
}

.principal p {
  color: #fff;
  font-family: 'Poor Story', cursive;
  text-transform: uppercase;
  font-size: 56px;
}

.principal img {
  width: 516px;
}

.principal button {
  font-family: 'Poor Story', cursive;
  font-size: 18px;
  padding: 12px 16px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;

  border: 2px solid #eedd82;
  background-color: transparent;
  color: #00cdcd;
  transition: 0.5s;
}

.principal button:hover {
  background-color: #eedd82;
  border: 2px solid #eedd82;
  color: #00cdcd;
}

.principal button:first-child {
  margin-right: 32px;
  background-color: #00cdcd;
  color: #eedd82;
  border: none;
  transition: 0.5s;
}

.principal button:first-child:hover {
  background-color: #eedd82;
  color: #00cdcd;
}

#personagens {
  margin-top: 128px;
}

#personagens h2 {
  color: #fff;
  font-family: 'Poor Story', cursive;
  font-size: 32px;
  text-transform: uppercase;
}

#episodios div {
  display: flex;
}

.div-personagens {
  display: flex;
  justify-content: space-between;
  alig-itens: flex-start;
}

.card-peronsagens {
  width: 324px;
  height: 324px;

  display: flex;
  flex-direction: column;

  margin-top: 16px;
  margin-bottom: 162px;

  background-color: #000;
  border-radius: 4px;
}

.card-peronsagens h4 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.card-peronsagens span {
  color: #fff;
  font-size: 24px;
  text-align: center;
  display: block;
}

/* -------------------------------------- EPISODIOS ---------------------------------- */

#episodios h2 {
  color: #fff;
  font-family: 'Poor Story', cursive;
  font-size: 32px;
  text-transform: uppercase;
}

#episodios p,
span {
  color: #fff;
}

#episodios img {
  width: 372px;

  margin-right: 12px;
}

#episodios .div-video {
  display: flex;
  flex-direction: column;

  border: 2px solid #fff;
  border-radius: 8px;

  margin: 8px;
  padding: 8px;

  cursor: pointer;

  width: 324px;
  height: 324px;
}

#episodios .div-video img {
  width: 300px;
  margin: 0 2px;
}

#episodios .div-video h2 {
  width: 100%;
}

#episodios .swiper {
  height: 350px;
}

/* -------------------------------------- CONTATO ---------------------------------- */
#contato {
  margin-top: 128px;
}

#contato h2 {
  color: #fff;
  font-family: 'Poor Story', cursive;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

#contato ul {
  color: #fff;
  font-family: 'Poor Story', cursive;
  font-size: 18px;
}

#contato ul li {
  display: flex;
}

#contato ul li i {
  margin-right: 8px;
  cursor: pointer;
}

#contato ul li i:hover {
  color: #00cdcd;
}

/* -------------------------------------- PAGINA PERSONAGENS ---------------------------------- */
#pagina-personagens .pesquisa {
  display: flex;
  width: 420px;
  margin: 64px auto;

  border: 2px solid #00cdcd;
  border-radius: 4px;
}

#pagina-personagens .pesquisa input {
  width: 100%;
  padding: 8px 8px;

  color: #fff;
  background: #000;
  border: none;
}

#pagina-personagens .pesquisa input:focus {
  outline: 0;
}

#pagina-personagens .pesquisa button {
  color: #fff;
  background: #000;
  padding: 8px 8px;
  cursor: pointer;

  border: none;
}

#pagina-personagens .caixa-personagem-page {
  display: flex;
  flex-wrap: wrap;

  cursor: pointer;
}

#pagina-personagens .caixa-personagem-page .card-peronsagens {
  width: 320px;
  height: 380px;
  margin: 16px 4px;
}

footer {
  background-color: #000;
  padding: 16px 32px;
}

footer ul {
  text-align: center;
  margin: 16px 0;
}

footer ul li a {
  text-decoration: none;
  color: #fff;
}

footer ul li a:hover {
  color: #00cdcd;
}

footer p {
  color: #fff;
  text-align: center;
}
